* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.add-post-page {
    position: relative;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(180deg, #DFEDF4 33.14%, #E8F0EC 51.89%, #F7F9F6 76.37%); */
    background: linear-gradient(
        180deg,
        #dfedf4 33.14%,
        #e8f0ec 51.89%,
        #f7f9f6 76.37%
    );
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-direction: column;
}
.add-post-backBtnContainer {
    width: 100%;
    height: 10%;
    /* border: 1px solid red; */
    padding-left: 50px;
    display: flex;
    align-items: center;
}
.btn-container {
    width: 100px;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.back-btn-container p {
    color: black;
    letter-spacing: 5px;
    font-size: 0.7rem;
    font-weight: 700;
    height: 100%;
}

.add-post-form-container {
    width: 100%;
    height: 90%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-wrapper {
    width: 40%;
    height: 80%;
    /* border: 1px solid red; */
}

.hide {
    display: none !important;
}
