.navbar-wrapper {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

.search-container {
    position: relative;
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.search-bar-container {
    width: 60%;
    height: 50%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    /* overflow: hidden; */
}
.search-bar-container form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.search-bar-container input {
    width: 80%;
    height: 100%;
    padding-left: 10px;
    outline: none;
    background-color: transparent;
    border: none;
    border-left: 2px solid rgba(112, 128, 144, 0.326);
    border-top: 2px solid rgba(112, 128, 144, 0.326);
    border: 2px solid rgba(112, 128, 144, 0.326);

    border-radius: 5px 0px 0px 5px;
    /* border-radius: 5px; */
}
.search-bar-container button {
    width: 20%;
    height: 100%;
    background-color: #f85077;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}
.login-container {
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

.login-btn {
    width: auto;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(112, 128, 144, 0.341);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.login-btn p {
    font-size: 0.8rem;
    font-weight: 600;
    color: black;
}

.user-badge {
    aspect-ratio: 1/1;
    height: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(112, 128, 144, 0.169);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    border: 1px solid rgb(114, 114, 221);
}

.add-btn {
    width: auto;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61bf6a;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    margin-right: 10px;
}
.add-btn a {
    color: white;
    font-size: 0.8rem;
}

.logout-btn {
    width: auto;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e23d31;
    border-radius: 5px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.logout-btn a {
    color: white;
    font-size: 0.8rem;
}

#search-list {
    position: absolute;
    top: 102%;
    left: 0;
    width: 60%;
    height: 0px;
    /* max-height: 300px; */

    background-color: white;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* border: 1px solid rgba(0, 0, 0, 0.146); */
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 999;
}
.search-item-container {
    width: 80%;
    height: 80px;
    min-height: 80px;
    /* border: 1px solid black; */
    margin-top: 25px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: 100%;
    grid-template-areas: "sc-image-wrapper sc-title-wrapper";
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 2px;
    overflow: hidden;
}
.sc-image-wrapper {
    grid-area: sc-image-wrapper;
    /* width: 100%; */
    aspect-ratio: 1/1;
    height: 100%;
    /* border: 1px solid red; */
}
.sc-image-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.sc-title-wrapper {
    grid-area: sc-title-wrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.sc-title-wrapper p {
    margin-left: 10px;
    font-size: 0.8rem;
    margin-bottom: 5px;
}
.sc-title-wrapper span {
    margin-left: 10px;
    font-size: 0.6rem;
    color: #f85077;
    font-weight: 500;
}
