.post-detail-page {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
/* --------------------------- */
.back-btn-container {
    width: 100%;
    height: 10%;
    /* border: 1px solid red; */
    padding-left: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.back-btn {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-left: 10px;
}
.back-btn p {
    color: black;
    letter-spacing: 5px;
    font-size: 0.7rem;
    font-weight: 700;
    height: 100%;
}
.edit-btn-div {
    height: 40%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-left: auto;
}
.edit-btn-div button {
    background: none;
    outline: none;
    width: 100%;
    border: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
}

.delete-btn {
    height: 40%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 50px;
}
.delete-btn p {
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
}
.delete-btn button {
    background: none;
    border: none;
}

/* ---------------------------------------------- */
.post-commnet-group {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0px;
    padding-bottom: 0px;
    /* border: 1px solid orange; */
}
/* --------------------------- */
.post-detail-inner-page {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding-top: 0px;
    padding-bottom: 50px;
    border-right: 1px solid rgba(128, 128, 128, 0.183);
}
.post-detail-inner-page::-webkit-scrollbar {
    display: none;
}

.full-post-container {
    width: 80%;
    height: auto;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid skyblue; */
    flex-direction: column;
    margin-top: 0px;
}

.full-post-title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.full-post-title p {
    font-size: 1.8rem;
    font-weight: 600;
}
.full-post-author {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 8px;
}
.full-post-author p {
    font-size: 0.8rem;
    font-weight: 600;
    color: #f85076;
}
#like-text {
    color: black;
    font-style: italic;
}
.full-post-author span {
    font-size: 0.8rem;
    font-weight: 600;
    color: black;
    font-style: italic;
}
.full-image-container {
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid black; */
}
.full-image-container img {
    object-fit: contain;
    width: 100%;
}

.full-post-content {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}
.full-post-content p {
    font-size: 0.8rem;
    line-height: 2.5;
    font-weight: 500;
}

/* --------------------------------------------------------- */

.post-comments-container {
    width: 40%;
    height: 100%;
    /* border: 1px solid rgba(112, 128, 144, 0.302); */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 20px;
}
.comment-header-div {
    width: 100%;
    height: 10%;
    /* border: 1px solid red; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.183);

    display: flex;
    align-items: center;
}
.comment-header-div p {
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 20px;
}
.comment-main-div {
    width: 100%;
    height: 75%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: scroll;
}

/* ------------------------------------ */
.comment-item-div {
    width: 70%;
    height: 70px;
    min-height: 70px;
    border: 1px solid rgba(112, 128, 144, 0.181);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
    border-radius: 5px;
}
#commented-author-text {
    font-size: 0.8rem;
    margin-left: 20px;
}
#commented-text-text {
    font-size: 0.7rem;
    font-style: italic;
    font-weight: 500;
    margin-left: 25px;
    color: #f85076;
}
/* ------------------------------------ */

.comment-input-div {
    width: 100%;
    height: 15%;
}

#comment-form {
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.238);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 10px;
}
.comment-input-div input {
    width: 80%;
    height: 90%;
    border: none;
    background: none;
    border-bottom: 2px solid skyblue;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.comment-input-div button {
    width: 10%;
    height: 60%;
    background-color: #71bd62;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
/* ----------------------------------------------------------- */
.edit-post-form {
    width: 60%;
    margin: 20px auto;
}

.edit-post-form .form-group {
    margin-bottom: 20px;
}

.edit-post-form input[type="text"],
.edit-post-form textarea,
.edit-post-form input[type="file"] {
    width: 60%;
    padding: 10px;
    font-size: 16px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-post-form textarea {
    resize: vertical;
    height: 150px; /* Adjust the height as needed */
}

.edit-post-form button {
    padding: 5px;
    font-size: 0.7rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-post-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
}

.edit-post-form button[type="button"] {
    background-color: #6c757d;
    color: #fff;
    margin-left: 10px;
}
