.post-detail-page {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
/* --------------------------- */
.back-btn-container {
    width: 100%;
    height: 10%;
    /* border: 1px solid red; */
    padding-left: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.back-btn {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-left: 10px;
}
.back-btn p {
    color: black;
    letter-spacing: 5px;
    font-size: 0.7rem;
    font-weight: 700;
    height: 100%;
}
.edit-btn-div {
    height: 40%;
    background-color: #7449ea;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-left: auto;
}
.edit-btn-div button {
    background: none;
    outline: none;
    width: 100%;
    border: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}

.delete-btn {
    height: 40%;
    background-color: #e23d31;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 50px;
}
.delete-btn p {
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
}
.delete-btn button {
    background: none;
    border: none;
    cursor: pointer;
}

/* ---------------------------------------------- */
.post-commnet-group {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0px;
    padding-bottom: 0px;
    /* border: 1px solid orange; */
}
/* --------------------------- */
.post-detail-inner-page {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding-top: 0px;
    padding-bottom: 50px;
    border-right: 1px solid rgba(128, 128, 128, 0.183);
}
.post-detail-inner-page::-webkit-scrollbar {
    display: none;
}

.full-post-container {
    width: 80%;
    height: auto;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid skyblue; */
    flex-direction: column;
    margin-top: 0px;
}

.full-post-title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.full-post-title p {
    font-size: 1.8rem;
    font-weight: 600;
}
.full-post-author {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 8px;
}
.full-post-author p {
    font-size: 0.8rem;
    font-weight: 600;
    color: #f85076;
}
#like-text {
    color: black;
    font-style: italic;
}
.full-post-author span {
    font-size: 0.8rem;
    font-weight: 600;
    color: black;
    font-style: italic;
}
.full-image-container {
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid black; */
}
.full-image-container img {
    object-fit: contain;
    width: 100%;
}

.full-post-content {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}
.full-post-content p {
    font-size: 0.8rem;
    line-height: 2.5;
    font-weight: 500;
}

/* --------------------------------------------------------- */

.post-comments-container {
    width: 40%;
    height: 100%;
    /* border: 1px solid rgba(112, 128, 144, 0.302); */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 20px;
}
.comment-header-div {
    width: 100%;
    height: 10%;
    /* border: 1px solid red; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.183);

    display: flex;
    align-items: center;
}
.comment-header-div p {
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 20px;
}
.comment-main-div {
    position: relative;
    width: 100%;
    height: 75%;
    min-height: 75%;
    min-width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: scroll;
}

/* ------------------------------------ */
.comment-item-container {
    width: auto;
    max-width: 70%;
    min-width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
    /* border-radius: 5px; */
    padding-right: 20px;
    box-sizing: border-box;
    word-wrap: break-word; /* Use word-wrap instead of text-wrap */
    border: 1px solid rgba(112, 128, 144, 0.365);
}
.comment-text-input-cell {
    width: 100%;
    min-height: 30px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[id^="commented-text-text-"] {
    position: relative;
    font-size: 0.8rem;
    margin-left: 20px;
}
[id^="commented-text-text-"]::before {
    position: absolute;
    left: -20px;
    top: 0;
    content: "-";
    /* background-color: blue; */
}

.comment-edit-input {
    font-size: 0.8rem;
    padding-left: 20px;
}

[id^="comment-edit-input"] {
    display: none;
    width: 100%;
    height: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid rgba(135, 207, 235, 0.614);
    outline: none;
}

.username-curd-btn-cell {
    width: 100%;
    height: 30px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ----------------- */
[id^="edit-delete-btn-container"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: auto;
    margin-right: 10px;
}

[id^="save-cancel-btn-container"] {
    display: none;
}

/* ----------- */

.crud-btn {
    height: 50%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 15px;
    background-color: transparent;
    cursor: pointer;
}

#comment-edit-btn {
    border: 1px solid slategray;
    background-color: rgb(112, 128, 144);
}
#comment-del-btn {
    border: 1px solid #e23d31;
    background-color: #e23d31;
}

.crud-btn p {
    font-size: 0.6rem;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

#commented-author-text {
    font-size: 0.7rem;
    font-style: italic;
    font-weight: 500;
    margin-left: 25px;
    color: #f85076;
    white-space: nowrap;
    /* margin-top: 8px; */
}

/* ------------------------------------ */

.comment-input-div {
    width: 100%;
    height: 15%;
}

#comment-form {
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.238);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 10px;
    /* border: 1px solid red; */
}
.comment-input-div input {
    width: 80%;
    height: 90%;
    border: none;
    background: none;
    border-bottom: 2px solid skyblue;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.comment-input-div button {
    width: 10%;
    height: 60%;
    background-color: #71bd62;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#login-button {
    width: 130px;
    height: 40%;
    background-color: #f85077c8;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
#login-button p {
    font-size: 0.8rem;
    white-space: nowrap;
}
/* ----------------------------------------------------------- */
.edit-post-form {
    width: 60%;
    margin: 20px auto;
}

.edit-post-form .form-group {
    margin-bottom: 20px;
}

.edit-post-form input[type="text"],
.edit-post-form textarea,
.edit-post-form input[type="file"] {
    width: 60%;
    padding: 10px;
    font-size: 16px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-post-form textarea {
    resize: vertical;
    height: 150px; /* Adjust the height as needed */
}

.edit-post-form button {
    padding: 5px;
    font-size: 0.7rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-post-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
}

.edit-post-form button[type="button"] {
    background-color: #6c757d;
    color: #fff;
    margin-left: 10px;
}
